div {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: inline-block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
}

.profile-picture {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;

  margin: 5px 0px 0px 5px;
}

.mutual-friends {
  font-size: 14px;
  color: rgb(75, 75, 75);

  margin: 0px 0px 10px 5px;
}

.add-btn {
  font-size: 14px;
  color: white;
  padding: 8px 15px;
  margin: 0px 0px 10px 5px;
  
  background-color: rgb(31, 100, 250);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: opacity 0.15s;

}

.add-btn:hover {
  opacity: 0.8;
}

.add-btn:active {
  opacity: 0.6;
}